
.container {
    background-color:var(--komunat-blue);
    width:100%; /* or whatever width you want. */
    display: inline-block;
   }
  
   #feedbackFormContainer{
     margin-top: 12vh;
     background-color: white;
   }   

   #newsletterFormContainer{
    margin-top: 2vh;
    background-color: white;
  }   

  ion-list-header {
    color: var(--komunat-blue)
  }
  ion-radio-group ion-label{
      font-size: 14px;
      color: var(--komunat-blue)
  }

   h1, h2, h3, h4, h5, h6 p{
     color: white;
     font-family: 'Source Sans Pro', sans-serif;
     font-weight: bold;
     margin-bottom:20px;
   }
  
   .nextText {
     position: absolute;
     top:50vh;
     width: 100%;
     padding-left:10px;
     padding-right: 10px;
     text-align: center;
   }
  
  .slim {
    font-weight: lighter;
    font-family: 'Source Sans Pro Extra Light', sans-serif;
  }
  .gray {
    color: #f4f8ff
  }
  
  .oval {
    position: absolute;
    width: 180vw;
    height: 50vh;
    top:0px;
    left:50%;
    background: #74c5ed;
    border-radius: 180vw / 50vh;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }
  
    /* iPhone 5 
  You can also target devices with aspect ratio. */                       
  @media screen and (device-aspect-ratio: 40/71) {                              
    .nextText {
     position: absolute;
     top:40vh;
     width: 100%;
     padding-left:10px;
     padding-right: 10px;
     text-align: center;
   }          
   }
   .blueFont {
     color:var(--komunat-blue);
   }


