h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  p {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 10vh;
    margin-right:2vw;
    margin-left: 2vw;
  }