<ion-header>
  <ion-toolbar>
    <ion-title text-center>Komunat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>

    <ion-card class="opt0">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
            <ion-button class=".opt0" (click) ="selected(0)" color="dark" expand="block" shape="rounded">{{this.btn0Val.name}}</ion-button>
          </ion-card-content>
    </ion-card>

    <ion-card class="opt1">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
            <ion-button class=".opt0" (click) ="selected(1)" color="dark" expand="block" shape="rounded" >{{this.btn1Val.name}}</ion-button>
        </ion-card-content>
      </ion-card>
</ion-content>
