
    <h2 class="title" text-center>DEIN ERGEBNIS</h2>
    <div class="progressWrapper">
        <div class="indicatorTxt">
             0 / 20
        </div>
        <div class="progressBg">
            <div class="progress">
        
            </div>
        </div>
    </div>

<ion-content padding>
    <ion-list>
      <div *ngFor="let match of matches; let i = index" class="animated fadeInRight delay-{{ i }}s match_{{ i }} candidateCard">
          <div class="imageWrapper">
            <img class="candidateImg" src="http://192.168.2.119:3000/uploads/{{match.uuid}}.png"/>
          </div>
          <div class="candidateInfoContainer">
            
            <div class="candidateInfo"> 
                    <ion-grid>
                            <ion-row>
                                <ion-col size=8>
                                    <h2>{{match.candidate.name}}</h2>
                                </ion-col>
                                <ion-col size=4>
                                       <div class="matchDiv">
                                        {{match.distance}}
                                       </div>
                                    </ion-col>
                            </ion-row>
                            <ion-row class="candidateInfoText">
                                    <ion-col size=7>
                                        <p><b>Partei:</b> {{match.candidate.list}}</p>
                                    </ion-col>
                                    <ion-col size=5>
                                            <p><b>Alter:</b> {{match.candidate.birthdate}}</p>
                                     </ion-col>
                            </ion-row>
                            <ion-row class="candidateInfoText">
                                    <ion-col size=7>
                                        <p><b>Wahlbezirk:</b> {{match.candidate.district}}</p>
                                    </ion-col>
                                    <ion-col size=5>
                                            <p><b>Listenplatz:</b> {{match.candidate.list_number}}</p>
                                     </ion-col>
                            </ion-row>

                            <ion-row>

                                <div class="tinderButtonOuterWrapper">
                                    <div class="reject" (click) ="toggleTeam(match,i)">
                                    <ion-icon name="close-circle"></ion-icon>
                                    </div>
                                    <div class="match" (click) ="toggleTeam(match,i)">
                                    <ion-icon name="checkmark-circle"></ion-icon>
                                    </div>
                                    </div>
                            </ion-row>

                    </ion-grid>
            </div>

          </div>

          <!--
          <ion-item class="text-wrap">  
            <ion-label>{{match.candidate.name}}</ion-label>
          </ion-item>
          <ion-item>
              <ion-grid>
                  <ion-row>
                      <ion-col size=4>
                          <p><b>Geburtsdatum:</b></p>
                      </ion-col>
                      <ion-col size=8>
                          <p>{{match.candidate.birthdate}}</p>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col size=4>
                          <p><b>Liste:</b></p>
                      </ion-col>
                      <ion-col size=8>
                          <p>{{match.candidate.list}}</p>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col size=4>
                          <p><b>Listenplatz:</b></p>
                      </ion-col>
                      <ion-col size=8>
                          <p>{{match.candidate.list_number}}</p>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col size=4>
                          <p><b>Stadtbezirk:</b></p>
                      </ion-col>
                      <ion-col size=8>
                          <p>{{match.candidate.district}}</p>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col text-center size=12>

                              <div *ngIf="match.isChecked == true; then thenBlock else elseBlock"></div>
                              <ng-template #thenBlock>
                                  <ion-button size="default"(click) ="toggleTeam(match,i)" expand="block" color="dark" shape="rounded" fill="solid">
                                      Von meinem Team entfernen
                                  </ion-button>
                                  </ng-template>
                              <ng-template #elseBlock>
                                  <ion-button size="default"(click) ="toggleTeam(match,i)" expand="block" color="dark" shape="rounded" fill="outline">
                                      Zu meinem Team hinzufügen
                                  </ion-button>
                                  </ng-template>
                            </ion-col>
                    </ion-row>
                  </ion-grid>
            </ion-item>
            -->
    </div>
      </ion-list>
      
</ion-content>
