.container
{
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin-top:5vh;
}


.titleBar {
  margin-left:10px;
  font-size: 7vw;
}

.subsIcon {
    margin:0px;
    padding: 0px;
    font-size:12px;
}


.candidateCard {
    height:160px;
    
}

.fullHeight {
    height: 100%;
}

.black {
    color:var(--komunat-gray-dark)
}

.cCardLeft {
    width: 100%;
    height:100%;
    vertical-align: middle;
    text-align: center;
}

.cCardLeft ion-avatar {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
    display: block;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.percentage {
    background-color: #59BCED;
    border-radius: 0px 10px 10px 0px;
    height:5vw;
    line-height: 5vw;
    vertical-align: middle;
    width:15vw;
    position: absolute;
    color:white;
    font-weight: bold;
    padding:2px;
}

.cCardRight {
    width: 100%;
    height:100%;
    padding-left:10px;
}
  h2 {
    color: #4C4D4F;
    font-size: 8vw;
    text-align: center; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }
  
  h4 {
    height: 5vh;
    font-size: 6vw;
    margin: 1em;
    color: #4C4D4F;
    text-align: center; 
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
    color:var(--komunat-blue);
    margin-bottom: 0px;
  }

  .c_name {
    color: var(--komunat-gray-dark);
    font-weight: bold;
    font-size: 5vw;
  }

  .c_info {
    margin-top: 10px;
  }

  .bold {
      font-weight: bold;
  }

  .c_info_text {
      margin-bottom: 4px;
      margin-top:4px;
      color:var(--komunat-gray-dark)
  }

  .slim {
    font-weight: lighter;
  }

  .reject {
    position: absolute;
    top:0px;
    right:-10px;
    width:8vw;
    border-radius:50%;
    text-align: center;
    font-size: 12vw;
    color: var(--komunat-red)
}

.readd {
    position: absolute;
    top:0px;
    right:-10px;
    width:8vw;
    border-radius:50%;
    text-align: center;
    font-size: 12vw;
    color: var(--ion-color-success)
}

.detailArrow {
    position: absolute;
    right:-10px;
    top: 50%;
    left: 100%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 5vw;
}

.content {
    margin-bottom: 100px;
}

.footer {
    background-color: var(--komunat-blue);
    margin:0px;
    padding:0px;
    height:60px;
    line-height: 60px;
    color:white;
    font-weight: bold;
    font-size: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
}