.container
{
   height:80vh;
   max-height: 80vh;
   width:100%; /* or whatever width you want. */
   display: inline-block;
   margin-top:10vh;
}

.goBtn
{
  margin-top:10vh;
  bottom: 10vh;
  height: 8vh;
  margin: 25px;
}

.instruction {
  height:30vh;
  width:auto;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10vh;
  margin-right:2vw;
  margin-left: 2vw;
}