<div class="container">
 <ion-slides zoom="false" pager="true">
   <ion-slide>
     <div class="swiper">
       <h2>Dein Team für den Stuttgarter Gemeinderat!</h2>
       <p>
        <span *ngIf="resultLength > 0">Schon <b>{{resultLength}}</b> haben mitgemacht.</span>
        Finde auch du mit dem KOMUNAT heraus, wer deine TOP-KandidatInnen für die Gemeinderatswahl in Stuttgart am 26. Mai 2019 sind.
       </p>
         <ion-button (click) ="slideToNext()" color="primary" expand="block" class="goBtn">Weiter</ion-button>
         <br>
         <br>
     </div>
   </ion-slide>
   <ion-slide>
       <div class="swiper">
        <h2>Jetzt geht´s los!</h2>
        <p>
          Vergleiche die Werte und kommunalpolitischen Aufgaben, die dir wichtig sind, mit den Antworten der KandidatInnen.
        </p>
          <ion-button (click) ="goToKomunat($event)" color="primary" expand="block" class="goBtn">Los geht's</ion-button>
          <br>
      </div>
   </ion-slide>
 </ion-slides>
</div>