<div class="container">
  <div class="oval">
      
  </div>
  <div class="nextText">
      <h2 class="slim">Geschafft!</h2>
      <h2>Lade dein Ergebnis herunter und geh wählen!</h2>
      <ion-button (click) ="download()" color="light" expand="block" class="goBtn">Herunterladen</ion-button>
      <ion-button href="http://komunat.de" color="light" expand="block" class="goBtn">Neue Runde</ion-button>
      <ion-button (click) ="feedback()" color="light" expand="block" class="goBtn">Feedback geben</ion-button>
      </div>
  <div class="spinner" [style.display]="spinnerVisible ? 'block' : 'none'">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
</div>