@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-Bold.ttf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Source Sans Pro Extra Light';
    src: url('../assets/fonts/SourceSansPro-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
  }