<ion-header>
  <ion-toolbar>
    <ion-title>impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container"><div class="col-md-12"></div><h3>Impressum</h3><p></p>Der Komunat ist ein Produkt des Vereins Unsere Zukunft e.V.i.G.<br><br>Die Inhalte des Komunat wurden in Rücksprache mit den amtierenden Fraktionen und Listen des Stuttgarter Gemeinderats erarbeitet. Stand: März 2019<br><br><h3>Herausgeber</h3><p></p>Verantwortlich gemäß § 55 RStV:<br><br>Unsere Zukunft e.V.i.G.<br>Hohentwielstraße 118<br>70199 Stuttgart<br>hallo(at)unserezukunft.org                    </div>
</ion-content>
