
.container {
  background-color:  #59BCED;
  height:100vh;
  max-height: 100vh;
  width:100%; /* or whatever width you want. */
  display: inline-block;
 }

 h1, h2, h3, h4, h5, h6 {
   color: white;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
   margin-bottom:20px;
 }

 .nextText {
   position: absolute;
   top:60vh;
   width: 100%;
   padding-left:10px;
   padding-right: 10px;
   text-align: center;
 }

  /* iPhone 5 
You can also target devices with aspect ratio. */                       
@media screen and (device-aspect-ratio: 40/71) {                              
  .nextText {
   position: absolute;
   top:40vh;
   width: 100%;
   padding-left:10px;
   padding-right: 10px;
   text-align: center;
 }          
 }

 .blueFont {
   color: #59BCED;
 }